<div class="page-header">
  <h2>Lista fabricantes</h2>
</div>
<table class="table">
  <thead>
  <tr>
    <th>RUC</th>
    <th>Razón social</th>
    <th>Teléfono</th>
    <th>Correo electrónico</th>
    <th>Representante</th>
    <th></th>
    <th></th>    
  </tr>
  </thead>
  <tbody>
  <% @fabricas.each do |fabrica| %>
  <tr>
    <td><%= fabrica.ruc %></td>
    <td><%= fabrica.razon_social %></td>
    <td><%= fabrica.telefono %></td>
    <td><%= fabrica.correo_electronico %></td>
    <td><%= fabrica.representante %></td>
    <td>
      <div class="btn-group">
        <button class="btn">Acciones</button>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Agregar productos', fabrica %>
            </li>
            <li>
              <%= link_to "Listo de productos del fabricante", { :controller => "fabricas", :action => "catalogo_fabrica", :id => fabrica.id } %>
            </li>
            <li>
              <%= link_to 'Editar datos del fabricante', edit_fabrica_path(fabrica) %>
            </li>
          </ul>
      </div>    
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Agregar fabrica', new_fabrica_path, :class=>"btn btn-primary" %>